.App {
  text-align: center;
  /* margin-top: 50px; */
  position: absolute;
  top: 30%;
  left: 30%;
}

.addTask input {
  padding: 20px 10px;
  width: 30em;
  border: 1px solid rosybrown;
  border-radius: 5px;
}

.addTask button {
  padding: 10px 10px;
  margin-left: 15px;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}

.list .delete {
  margin: 10px;
}
